<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

</head>
<body>


<div class='container'>
<div class='col-md-offset-3 col-md-6'>
<h2>Table</h2>
  <table class="table table-striped">
    <thead>
      <tr>

        <th>id</th>
        <th>Name</th>
        <th>City</th>
        <th>Contact No.</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for user in query_results %}
        
      <tr>
        <td>{{ user.s_id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.number }}</td>
        <td><a href="{% url 'form:edit' id=user.s_id %}" class="btn btn-info" >Edit</a></td>
        <td><a href="{% url 'form:delete' id=user.s_id %}" class="btn btn-danger" >Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


<!--
{% csrf_token %}
<h2>Your Name:- </h2><span><h3>{{ name }}</h3></span>
<h2>Your City:- </h2><span><h3>{{ city }}</h3></span>
<h2>Your Number:- </h2><span><h3>{{ number }}</h3></span>
-->
</div>
</body>
</html>
