<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  

</head>
<body>



<div class="container">
<div class="col-md-offset-3 col-md-6">
  <h2>Form</h2>
  <form action="{% url 'form:display' %}" method="post">
      {% csrf_token %}
        
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" {% if name %}value={{ name }}{% endif %} id="name" placeholder="Enter Name" name="name" required>
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" {% if city %}value={{ city }}{% endif %} placeholder="Enter City" name="city" required>
        </div>
        <div class="form-group">
            <label for="number">Contact No:</label>
            <input type="text" class="form-control" {% if number %}value={{ number }}{% endif %} id="number" placeholder="Enter Number" name="number" required>
        </div>
        <input type="text" style="display: none;" class="form-control" {% if s_id %}value={{ s_id }}{% endif %} id="s_id"  name="s_id" >
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</body>
</html>